#flex-container-exec-imgs {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    row-gap: 100px;
}

.exec-pics-caption {
    align-self: start;
    justify-self: start;
    padding-left: 60px;
}

.exec-pics {
    place-self: center;
}

.position-txt {
    font-size: 20px;
    font-weight: bold;
}

.meet-exec-text {
    padding-bottom: 10px;
}

#secretary {
    width: 80%;
}

/* Query for mid-side screens */

@media only screen and (max-width: 1050px) {
    #exec-heading {
        padding-top: 100px;
        padding-left: 60px;
        padding-bottom: 50px;
    }
}

/* Change grid to single column layout when screen size decreases */

@media only screen and (max-width: 500px) {
    .main-col {
        width: 100%;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    #exec-heading {
        padding-top: 100px;
        padding-left: 60px;
        padding-bottom: 50px;
    }
    #flex-container-exec-imgs {
        display: grid;
        grid-template-columns: auto;
        row-gap: 50px;
    }
    #pres {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #vp {
        grid-row-start: 3;
        grid-row-end: 4;
    }
    #treasurer {
        grid-row-start: 5;
        grid-row-end: 6;
    }
    #secretary {
        grid-row-start: 7;
        grid-row-end: 8;
    }
    #fund-chair {
        grid-row-start: 9;
        grid-row-end: 10;
    }
    #social-chair {
        grid-row-start: 11;
        grid-row-end: 12;
    }
    #race-director {
        grid-row-start: 13;
        grid-row-end: 14;
    }
    .exec-pics {
        place-self: center;
        width: 60%;
    }
    .body-text {
        border-bottom: 1px black solid;
        padding-bottom: 50px;
    }
    #footer {
        margin: 0px;
    }
}