.sub-heading {
    font-family: 'Montserrat', sans-serif;
    padding-left: 60px;
    padding-bottom: 25px;
    margin: 0px;
}

.body-text {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
}

#merch-heading {
    padding-top: 30px;
}

#bottom-text {
    padding-bottom: 0px;
}