#contact-page-link {
    text-decoration: none;
    color: purple;
}

#contact-page-link:hover {
    text-decoration: none;
    color: rgb(169, 68, 182)
}

#welcome-video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}