body {
    margin: 0;
}

#img-container {
    min-height: 100vh;
    position: relative;
}

#campus {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.75;
}

#main-txt-flex-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-txt {
    border-radius: 10px;
    opacity: .95;
    font-family: 'Alegreya', serif;
    background-color: #E8D3C5;
    color: #3a4f5c;
    padding: 30px;
    text-align: center;
}

#menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #D69B82;
    border: 2px solid black;
    flex-direction: row;
    cursor: pointer;
    top: 3%;
    left: 3%;
    width: 75px;
    height: 35px;
    padding: 3px;
    border-radius: 2px;
    margin: 0;
}

#menu-text {
    margin: 0;
    padding-left: 1px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 14px;
}

#line-1, #line-2, #line-3 {
    width: 17px;
    height: 2px;
    background-color: black;
    margin: 3px 0;
}

#menu:hover {
    background-color: #9b4c2b;
    text-decoration: none;
}

#menu:hover::after {
    color: rgba(211, 211, 211, 0);
}

#menu-bar {
    background-color: #e9e0dc;
    transition: 0.5s;
    position: fixed;
    box-sizing: border-box;
    height: 100%;
    width: 0px;
    top: 0;
    left: 0;
    overflow: hidden;
}

#close-menu-button {
    font-size: 30px;
    position: absolute;
    display: block;
    text-decoration: none;
    color: black;
    right: 7%;
    top: 3%;
}

#close-menu-button:hover {
    color: rgba(180, 52, 52, 0.603);
}

#links {
    padding-top: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.menu-bar-item {
    text-decoration: none;
    color: #22290b;
    border-bottom: 1px solid black;
    background-color: #a1d887;
    width: 300px;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-grow: 1;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.menu-bar-item:hover {
    background-color: #beae97;
}

#flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#main-col {

    width: 800px;
    min-height: 800px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    background-color: rgb(241, 230, 165);
    border-radius: 25px;
}

#group-pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#group-pic {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#who-we-are-heading {
    padding: 50px;
}

.who-we-are-text {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

#bottom-text {
    padding-bottom: 50px;
}

#home {
    border-top: 1px solid black;
}

#flex-container-exec-imgs {
    display: grid;
    /* align-items: center;
    justify-content: center; */
    grid-template-columns: auto auto;
    column-gap: 40px;
    row-gap: 70px;

}

.exec-pics-caption {
    background-color: purple;
    align-self: start;
    justify-self: start;
}

.exec-pics {
    place-self: center;
}